* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body{
    background: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dadada;
    perspective: 1000px;
    --links: #FDC37F;
    
  
  }
  /*First Page Styles*/
  nav{
    display: flex;
    height: 10vh;
    
    
  }
  .logo{
    width: 30px;
    height: 30px;
    margin-top:10px;
    margin-left:30px;
    filter: drop-shadow(-2px -2px 2px rgb(66, 66, 66));
   
  }
  .nav-links{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    list-style: none;
  }
  .nav-links li a{
    text-decoration: none;
    color: var(--links);
    font-size: 16px;
    overflow: hidden;
  }

  .nav-links li a::after{
    opacity: 1;
    transform: translate3d(-100%, 0,0);
  }
  .nav-links li a:hover{
    border-bottom: 1px solid white;
    transition: all 0.75s ease;
  }

  
  @media screen and (max-width: 768px){
    nav{
      position: relative;
      height:10vh;
    }
    .line{
      width:30px;
      height:3px;
      background: white;
      margin: 5px;
    }
    .hamburger{
      position: fixed;
      right: 5%;
      top: 5%;
      transform: translate(-5%, -50%);
      cursor: pointer;
      z-index: 2;
    }
   
    .nav-links{
      position: fixed;
      height:100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -5%);
      -webkit-clip-path: circle(100px at 90% -5%);
      pointer-events: none;
      background:rgb(26, 25, 25);
      transition: all 1s ease-out 0s;
    }
    .nav-links.open{
      clip-path: circle(1000px at 90% -5%);
      -webkit-clip-path: circle(1000px at 90% -5%);
      pointer-events: all;
    }
    .nav-links li{
      opacity: 0;
    }
    .nav-links li a{
      font: 25px;
    }
  
    .nav-links li:nth-child(1){
      transition:all 0.5s ease 0.2s;
    }
  
    .nav-links li:nth-child(2){
      transition:all 0.5s ease 0.4s;
    }
  
    .nav-links li:nth-child(3){
      transition:all 0.5s ease 0.6s;
    }
    li.fade{
        opacity:1;
      }
      .row{
          width: 100%;
          height:90vh;
          flex-direction: row;
      }
     
      .giphy-embed{
        width: 100%;
        height: 30%;
        margin-bottom: 100px;
        
    }
    .right{
        margin-left: auto;
        margin-right: auto;
        
        
    }
    .left {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    
    }
    .left p{
        width: 100%;
        margin-top: auto;
    }
}

 .row, .second-row{
    height: 90vh;
    width: 100%;
    display: flex;
    
 }
 .row{
   border-bottom: 0.05rem solid white;
 }
.column{
    float: left;
 }

 .left{
     width: 50%;
     

 }
 .left p{
     width: 58%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 150px;
     
     
     
 }
 .right{
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transform-style: preserve-3d;
     
 }
 .giphy-embed{
     
     width: 340px;
     height: 320px;
     transition: all 0.75s ease-out;
     
     
 }
 .second{
   width: 100%;
   height: 110vh;
  
   
 }
 
 .second h1{
   font-size: 40px;
   width: 30%;
   margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  

   
 }
 .column{
   width: 100%;
   
 }
 .left-two{
   width: 50%;
   
 }

 .right-two{
   width: 50%;
   
 }

 .blog{
   margin-top: 20vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.blog img{
  width: 50%;
  height: 50%;
  
}
.blog p{
  margin-top: 40px;
  font-size: 12px;
  font-weight: lighter;
  width: 220px;
  height:200px;
  margin-left: 5px;
  text-overflow: ellipsis;
  white-space:inherit;
  overflow: hidden;
}
.readMore{
  
  color: var(--links);
  margin-left: 200px;
  text-decoration: none;
}
.seeMore{
  color: var(--links);
  margin-left: 450px;
  text-decoration: none;
  
}
#rows{
  margin-top: -80px;
}
#rows img{
  width: 45%;
  height: 45%;
}
#articles{
  height: 80vh;
  width: 100%;
  border-bottom: none;
  
  
}
#articles img{
  margin-top: 100px;
  margin-left: 30px;
}
#articles .left{

 height: 100%;
 width: 40%;
}
#articles .right, .left-text{
  
  display: inline-block;
  height: 100%;
  width: 60%;
}
#articles .left img{
  margin-top: 0px;
}
#articles .right p, .left-text p{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.blogTitle{
  font-size: 90px;
  width: 60%;
  height: 100vh;
  margin-left: auto;
  margin-right:auto; 
  
}
.second-part{
  height: 80vh;
}
