* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
  }
  body{
    background: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: #dadada;
    perspective: 1000px;
    --links: #FDC37F;
    
  
  }
  /*First Page Styles*/
  nav{
    display: flex;
    height: 10vh;
    
    
    
    
  }
  .logo{
    
    width: 50px;
    height: 50px;
    margin-top:15px;
    margin-left:30px;
    filter: drop-shadow(-2px -2px 2px rgb(66, 66, 66));
   
  }
  .nav-links{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    list-style: none;
  }
  .nav-links li a{
    text-decoration: none;
    color: var(--links);
    font-size: 25px;
    overflow: hidden;
  }

  .nav-links li a::after{
    opacity: 1;
    transform: translate3d(-100%, 0,0);
  }
  .nav-links li a:hover{
    border-bottom: 1px solid white;
    transition: all 0.75s ease;
  }

 
 .row, .second-row{
    height: 90vh;
    width: 100%;
    display: flex;
    
 }
 .row{
   border-bottom: 0.05rem solid white;
   perspective: 1000px;
 }
.column{
    float: left;
   
 }

 .left{
     width: 50%;
     

 }
 .left p{
     width: 60%;
     font-size: 30px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 250px;
     
     
     
     
 }
 .right{
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
    
     
 }
 .giphy-embed{
     
     width: 70%;
     height: 70%;
     transition: all 0.75s ease-out;
     
     
 }
 
 .second{
   width: 100%;
   height: 110vh;
  
   
 }
 
 .second h1{
  font-size: 60px;
  width: 30%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  

   
 }
 .column{
   width: 100%;
   
 }
 .left-two{
   width: 50%;
  
   
   
 }

 .left-two h2, .right-two h2{
   width: 50%;
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
 }

 .right-two{
   width: 50%;
   
 }

 .blog{
   margin-top: 10px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.blog img{
  width: 50%;
  height: 50%;
  
}

.blog p{
  margin-top: 0px;
  font-size: 20px;
  font-weight: lighter;
  width: 40%;
  height:20rem;
  margin-left: 15px;
  text-overflow: ellipsis;
  white-space:inherit;
  overflow: hidden;
}
.readMore{
  
  color: var(--links);
  display:flex;
  margin-top: 5px;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}
.seeMore{
  
  padding: 15px;
  color: var(--links);
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  margin-top: 10px;
  
}
#rows{
  margin-top: -80px;
 
}
#rows img{
  width: 50%;
  height: 50%;
}
#articles{
  margin-top: 80px;
  height: 80vh;
  width: 100%;
  border-bottom: none;
  
  
  
}
#articles img{
 width: 90%;
 height: 100%;
  margin-left: 30px;
  
}
#articles .left{

 height: 100%;
 width: 50%;
 
}
#articles .right, .left-text{
  
  display: inline-block;
  height: 100%;
  width: 50%;
  
}
#articles img{
  margin-top: 0px;
  width: 100%;
}
#articles .right p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.left-text p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
#nextParagraph{
  margin-top: 180px;
}

#references{
  margin-top: 20px;
  margin-bottom: 20px;
}
.blogTitle{
  font-size: 20vh;
  width: 60%;
  margin-top: 10px;
  margin-left: auto;
  margin-right:auto; 
  letter-spacing: 0.26rem;
  
  
}
.second-part{
  height: 80vh;
}

@media screen and (max-width: 768px){
  
  nav{
    position: relative;
    height:10vh;
  }
  .line{
    width:30px;
    height:3px;
    background: white;
    margin: 5px;
  }
  .hamburger{
    position: fixed;
    right: 5%;
    top: 5%;
    transform: translate(-5%, -50%);
    cursor: pointer;
    z-index: 2;
  }
 
  .nav-links{
    position: fixed;
    height:100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -5%);
    -webkit-clip-path: circle(100px at 90% 5%);
    overflow: hidden;
    background:rgb(26, 25, 25);
    transition: all 1s ease-out 0s;
  }
  .nav-links.open{
    clip-path: circle(1000px at 90% -5%);
    -webkit-clip-path: circle(1000px at 90% -5%);
    pointer-events: all;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li a{
    font: 25px;
  }

  .nav-links li:nth-child(1){
    transition:all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2){
    transition:all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3){
    transition:all 0.5s ease 0.6s;
  }
  li.fade{
      opacity:1;
    }
    h2{
      font-size: 30px !important;
    }
    p{
      font-size: 16px !important;
    }
    .row{
      position: relative;
        width: 100%;
        height:100vh;
        transform-style: preserve-3d;
        flex-direction: column;
        z-index: -1;
        
        
    }
  .right{
      max-height: 50%;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      
      
      
  }
  .left {
    max-height: 50%;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      
  
  }
  .left p{
      width: 50%;
      margin-top: 100px;
  }
  .right img{
    margin-top: 150px;
    max-width: 50%;
    height: 100%;
  }
  .second{
    position: relative;
    width: 100%;
    height:180vh;
    flex-direction: column;
    z-index: -1;
    
  }
  .second-row{
    height: 180vh;
    flex-direction: column;
    
  }
  .right-two, .left-two{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .left-two, .right-two{
    
    width: 100%;
    
  }
  .left-two p{
    margin-top: 50px;
  }
  .seeMore, .readMore{
    font-size: 16px !important;
  }
  .seeMore{
    margin-top: -80px;
    margin-bottom: 0px;
    padding: 15;
  }
  .blogTitle{
    font-size: 13vh;
  }
  #articles{
    position: relative;
    width: 100%;
    height:100vh;
    flex-direction: column;
    font-size: 16px !important;
    z-index: -1;
  }
  #articles .left{
    width: 100%;
    height: 100vh;
    
  }
  #articles .left img{
    width: 80%;
    display: flex;
    justify-content: center;
  }
  #articles .right{
    width: 100%;
    height: 100vh;
  }
  #articles .right p{
    margin-top: 20px;
  }
  .left-text{
    margin-top: -80px;
    width: 100%;
    
  }
 
}

